
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-md-offset-3">
        <h3>Lista de Dispositivos Disponibles</h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Codigo</th>
              <th scope="col">Nombre</th>
              <th scope="col">Marca</th>
              <th scope="col">Categoria</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Observaciones</th>
              <th scope="col">Fecha de registro</th>
            </tr>
          </thead>
          <tbody>
            
            <!-- <tr *ngFor="let dispositivo of dispositivos">
                <td>{{dispositivo.codigo}}</td>
                <td>{{dispositivo.nombre}}</td>
                <td>{{dispositivo.marca}}</td>
                <td>{{dispositivo.categoria}}</td>
                <td>{{dispositivo.descripcion}}</td>
                <td>{{dispositivo.observaciones}}</td>
                <td>{{dispositivo.fecha_registro}}</td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </div>
  </div>