<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Prestamo App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="Active">
        <a class="nav-link" routerLink="/listadoDispositivos">Dispositivos</a>
      </li>
      <li routerLinkActive="Active">
        <a class="nav-link" routerLink="/solicitudPrestamo">Solicitar Prestamo</a>
      </li>
      <li routerLinkActive="Active">
        <a class="nav-link" routerLink="/registroDispositivos">Registrar Dispositivos</a>
      </li>
      <li>
        <label> | </label>
      </li>
      <li routerLinkActive="Active">
        <a class="nav-link" routerLink="/menu3">Iniciar Sesion</a>
      </li>
      <li routerLinkActive="Active">
        <a class="nav-link" routerLink="/menu4">Registrarse</a>
      </li>      
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>